* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;

}

.logo img {
  height: 100px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav li {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.head {
  background-image:url(../911.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  padding-top: 125px;
  padding-bottom: 125px;
  padding-left: 50px;
  width: 100%;
  height: max-content;
  margin-left: 0px;
  color: white;
}

.head h3{
  margin-top: 10px;
}
.head p{
  margin-top: 10px;
}

.head button {
  margin-top: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background: white;
  color: black;
  border-radius: 4px;
}
.head button:hover {
  background-color:black;
  color: white;
  border: 1px white solid;
}


body {
  text-align: center;
  padding: 0%;
  font-family: 'popins', sans-serif;
}

header {
  text-align: left;
  margin-top: 0%;

}

.cars {
  display: flex;
margin-left: 50px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  
}


.box {
  margin-top: 50px;
  padding-left: 020px;
  width: 300px;
  border-radius: 10px;
  text-align: left;
  flex-basis: 30%;
  
}
.box img {
  width: 300px;
  height: 220px;
  border-radius: 10px;
}
.box h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.box h3 {
  margin-top: 10px;
}
.box p{
  margin: 0px;
}
.boxx{
  display: flex;
}

.boxx button {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  background: black;
  color: bisque;
  border-radius: 4px;
}
.boox button {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border: black solid 1px;
  background: white;
  color: black;
  border-radius: 4px;
}

.boxx button:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

h1{
  margin-top: 30px;
}
p{
  margin-top: 10px;
}